@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;

}
header .home{
    display: flex;
    align-items: center;
    gap: 10px;
    /* width: 131px; */
    cursor: pointer;
    margin-left: 10px;
}
header #logo{
    width: 40px;
}
header .home span{
    color: white;
    font-size: 25px;
    font-family: "Figtree", sans-serif;
    font-weight: bold;
}